<main>
  
  <h2><%= @user.name %></h2>
  <h5> <%= link_to "Logout", logout_path, method: :delete %> </h5>
  <h3><%= @tweets.length %> tweets</h3>

  <%= form_for @tweet, url: tweet_path do |f| %>
    <%= f.text_area :body %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.submit "Tweet" %>

  <% end %>

  <% @tweets.each do |tweet| %>
  <p>
      <%= tweet.body %>
      <%= link_to "Delete", del_tweet_path(tweet.id), method: :delete %>
  </p>
  <% end %>

</main>
